.trainer-calendar {
    font-family: 'Inknut Antiqua';
    border: 2px #f7a072;
    border-radius: 8px;
    background-color: cadetblue;

}

.rbc-calendar {
    border: 2px #f7a072;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rbc-time-content {
    border: 2px #f7a072;
}

.rbc-day-bg {
    background-color: #e0e0e0;
    border: 2px solid #f7a072;
  }

.rbc-event {
    color: #333;
    background-color: darkcyan;
    width: '100%',
}

.rbc-day-slot {
    background-color: bisque;
}

.rbc-timeslot-group {
    background-color: #e0e0e0;
    border: 2px solid burlywood;
}

.rbc-allday-cell  {
    display: none;
}

.rbc-day-slot {
 width: 100% !important;
}

.rbc-event{
  width:100% !important;
}

.rbc-time-view .rbc-row .rbc-time-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }


.trainer-button {
    font-family: 'Inknut Antiqua';
    font-size: 20px;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #f9f7f3;
    border: 5px solid;
    border-color: #b5e2fa;
    border-radius: 10px;
    cursor: pointer;
    width: 70%;
 }

 .trainer-button:hover {
    background-color: #d9d9d9;
    border: 5px solid;
    border-color: #b5e2fa;
    border-radius: 10px;
 }

 .button-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

 .calendar-column {
    display: flex;
    align-items: center;
 }

 .welcome-prompt {
    color: #002f35;
    font-family: 'Inknut Antiqua';
    font-size: 64px;
    text-align: center;
    margin-bottom: 10px;
}