
body {
  background-color: #2a6c70
}


.dark-green {
  background-color: rgba(0,47,53,1);
}

.bottle-green {
  background-color: rgba(21,94,99,1);
}

.vanilla {
  background-color: rgba(237,222,164,1);
}

.ivory {
  background-color: rgba(249,247,243,1);
}

.tangerine {
  background-color: rgba(247,160,114,1);
}

.baby-blue {
  background-color: rgba(181,226,250,1);
}

.monotonous-grey{
  background-color: rgba(217,217,217,1);
}

.button-style-header{
  background-color: rgba(237,222,164,1);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  mix-blend-mode: normal;
  border: 2px solid rgba(247,160,114,1);
  border-radius: 50px;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
}

.button-style-login-header{
background: #F7A072;
border-radius: 26px;
width: 240px;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
margin-left: auto
}


.text-style{
  font-family: 'Inknut Antiqua';
  text-align: center;
  font-size: 16px;
  color: black;
}

.user-circle-text-style{
  font-family: 'Inknut Antiqua';
  text-align: center;
  font-size: 12px;
  color: black;
}

.header-style{
  background-color: rgba(0,47,53,1);
  height: 80px;
  display: flex;
  align-items: center;
}


.navbar-toggler {
width: 64px;
height: 64px;
background: #EDDEA4;
border: 3px solid #F7A072;
border-radius: 50%;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar-toggler-icon {
background-image: none;
}

.sidebar-style{
  position: fixed;
  width: 200px;
  right: 0px;
  height: 100vh;
}

.sidebar-pos-style{
background-color: #D9D9D9;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
width: 160px;
height: 40px;
margin-top: 15px;
margin-bottom: 5px;
margin-left: 20px;
}

.sidebar-pos-style:hover {
  background-color: #c3c2c2;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 160px;
  height: 40px;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 20px;
  }

.text-style-sidebar{
  font-family: 'Inknut Antiqua';
  text-align:center;
  font-size: 13px;
  color: black;
}

