.tableDesignNarrow{
  width: 550px;
  justify-content: center;
}

.clubsTable{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tablePos{
    justify-content: center;
}

.ticketsShop{
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.gridDesign {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    justify-content: center;
    margin-left: 100px;
  }

  .tableDesignWide{
    width: 950px;
    justify-content: center;
}

.tableDesign th {
    background-color: rgba(0,47,53,1);
    color: rgba(237,222,164,1);
    font-weight: bold;
    text-align: center;
  }


  .tableDesign td {
    border: 2px solid  rgba(0,47,53,1);
    padding: 8px;
    text-align: center;
  }

  .cartStyle {
    background-color: rgba(237,222,164,1);
    border: 3px solid rgb(223, 115, 56);
  }

  .deleteStyle {
    background-color: rgb(188, 9, 9);
    border: 3px solid rgb(223, 115, 56);
    margin-top: 15px;
  }

  .deleteStyle:hover {
    background-color: rgb(155, 14, 14);
    border: 3px solid rgb(223, 115, 56);
    margin-top: 15px;
  }

  .cartStyle:hover {
    background-color: rgb(180, 165, 108);
    border: 3px solid rgb(223, 115, 56);
  }

  .weekSwitch{
    background-color: rgba(237,222,164,1);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    mix-blend-mode: normal;
    border: 3px solid rgb(223, 115, 56);
    border-radius: 50px;
    height: 40px;
    width: 180px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .weekSwitch:hover{
    background-color: rgb(196, 178, 107);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    mix-blend-mode: normal;
    border: 3px solid rgb(223, 115, 56);
    border-radius: 50px;
    width: 180px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .weekSwitchLayout{
    display: flex;
    justify-content: center;
  }

  .activeTicket {
    display: flex;
    justify-content: center;
    background-color: rgb(94, 200, 96);
    border: 3px solid rgb(220, 225, 115);
    border-radius: 20px;
    width: 140px;
    align-items: center;
    height: 80px;
  }

  .inactiveTicket {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(136, 136, 136);
    border: 3px solid rgb(220, 225, 115);
    border-radius: 20px;
    width: 140px;
    height: 50px;
  }

  .expiredTicket {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 62, 22);
    border: 3px solid rgb(220, 225, 115);
    border-radius: 20px;
    width: 140px;
    height: 50px;
  }

  .smallHeader {
    font-family: 'Inknut Antiqua';
    text-align: center;
    font-size: 46px;
    color: rgba(217,217,217,1);
    margin-bottom: 40px;
  }

  .layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .layout2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
  }

  .buttonDecisionSite{
    background-color: rgba(237,222,164,1);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    mix-blend-mode: normal;
    border: 3px solid rgb(223, 115, 56);
    border-radius: 50px;
    width: 240px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .textStyleBigger{
    font-family: 'Inknut Antiqua';
    text-align: center;
    font-size: 24px;
    color: black;
  }

  .textStyleBiggerWhite{
    font-family: 'Inknut Antiqua';
    text-align: center;
    font-size: 24px;
    justify-content: center;
    color: rgba(249,247,243,1);
  }

  .marginBottom {
    margin-bottom: 10px;
  }

  .sumStyle{
    background-color: #D9D9D9;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 160px;
    height: 40px;

    }