   .name-title-label {
      color: #002f35;
      font-family: 'Inknut Antiqua';
      font-size: 64px;
      margin-bottom: 20px;
   }

   .title-label {
      color: #002f35;
      font-family: 'Inknut Antiqua';
      font-size: 40px;
   }

   .labels {
      color: #002f35;
      font-family: 'Inknut Antiqua';
      font-size: 24px;

   }

   .profile {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 20px;
   }

   .profile img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
   }

   .portier-client-info {
      margin-top: 10px;
      padding-top: 20px;
      padding-left: 20px;
      width: 100%;
      color: #002f35;
      margin: auto;
      border-radius: 15px;
      border-color: #f7a072;
   }

   .client-info,
   .training-info,
   .client-card,
   .card-dates {
      width: auto;
      height: auto;
      padding: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 10px;
      margin-right: 10px;
      background-color: #f9f7f3;
      border: 5px solid;
      border-color: #f7a072;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   }

   .entrance-info {
      width: auto;
      height: auto;
      padding: 20px;
      margin-top: 30px;
      margin-bottom: 10px;
      margin-left: 10px;
      margin-right: 10px;
      background-color: #f9f7f3;
      border: 5px solid;
      border-color: #f7a072;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   }

   .button-client-info {
      font-family: 'Inknut Antiqua';
      font-size: 20px;
      margin-top: 10px;
      padding: 10px 20px;
      background-color: #f9f7f3;
      border: 5px solid;
      border-color: #b5e2fa;
      border-radius: 10px;
   }

   .button-client-info:hover {
      background-color: #d9d9d9;
      border: 5px solid;
      border-color: #b5e2fa;
      border-radius: 10px;
   }


   .activation-button {
      align-items: center!important;
      font-family: 'Inknut Antiqua'!important;
      color: #002f35!important;
      font-size: 20px!important;
      margin-top: 10px!important;
      padding: 10px 20px!important;
      background-color: #f9f7f3!important;
      border: 5px solid!important;
      border-color: #b5e2fa!important;
      border-radius: 10px!important;
      cursor: pointer!important;
   }
  
   .activation-button:hover {
      background-color: #d9d9d9!important;
      color: #002f35!important;
      font-family: 'Inknut Antiqua'!important;
      border: 5px solid !important;
      border-color: #D9D9D9 !important;
      border-radius: 10px !important;
   }
  
   .activation-button:active:focus {
      background-color: #155E63 !important;
      border-color: #D9D9D9 !important;
   }

   .select {
         background-color: #d9d9d9;
         color: #002f35;
         font-family: 'Inknut Antiqua';
         border: 5px solid;
         border-color: #D9D9D9;
         border-radius: 8px;
     }
   .select:hover {
      background-color: #d9d9d9;
      color: #002f35;
      font-family: 'Inknut Antiqua';
      border: 5px solid;
      border-color: #D9D9D9;
      border-radius: 8px;
   }
   
   .option {
      background-color: #d9d9d9;
      color: #002f35;
      font-family: 'Inknut Antiqua';
      border: 5px solid;
      border-color: #D9D9D9;
      border-radius: 8px;
   }
   
   .option-to-choose {
      background-color: #d9d9d9;
      color: #002f35;
      font-family: 'Inknut Antiqua';
      border: 5px solid;
      border-color: #D9D9D9;
      border-radius: 8px;
   }
   